/* Body背景设置 */
body {
    background: url(/images/background.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
}

/* 文章背板颜色设置 */
.main-inner > .sub-menu,
.main-inner > .post-block,
.main-inner > .tabs-comment,
.main-inner > .comments,
.main-inner > .pagination {
    background: rgba(245, 245, 245, 0.8); /* 背景色透明度设置 */
}

/* 文字颜色设置 */
body {
    color: #000; /* 主体字体颜色为纯黑 */
}

.posts-expand .post-title-link {
    color: #222; /* 首页文章标题颜色 */
}

.posts-expand .post-meta-container {
    color: #62a7b6; /* 文章日期颜色 */
}

/* 侧边框透明度设置 */
.sidebar-inner {
    background: rgba(245, 245, 245, 0.6); /* 背景色透明度设置 */
	color: #3d788e; /* 字体、图标颜色 */
}

.sidebar .fa, .sidebar .fab {
    color: #3d788e; /* 示例颜色，针对Font Awesome或其他图标集的图标颜色 */
}

/* 侧边栏描述部分字体颜色 */
.site-description {
    color: #555555;
}

/* 侧边栏数字的颜色 */
.site-state-item-count {
    color: #3d788e;
}

/* 调整“日志”，“分类”，“标签”这些文本的颜色 */
.site-state-item-name {
    color: #555555;
	font-weight: bold; /* 将字体加粗 */
}

/* 目录字体 */
.nav-text {
	//color: /* 颜色设置 */
}

.post-toc .nav .active > a {
	border-bottom-color: #3d788e;
	color: #3d788e;
}

.post-toc .nav .active > a:hover {
	border-bottom-color: #fc6423;
	color: #fc6423;
}

.sidebar-toc-active .sidebar-nav-toc, .sidebar-overview-active .sidebar-nav-overview {
	border-bottom-color: #3d788e;
    color: #3d788e;
    transition-delay: 0.2s;
}


/* 菜单栏颜色设置 */
.header-inner {
    background: rgba(255, 255, 255, 0.7); /* 菜单栏背景色透明度设置 */
}

/* 搜索框透明度设置 */
.popup {
    opacity: 0.5;
}

/* 主体背景设置 */
.main-inner {
    background-color: rgba(255, 255, 255, 0); /* 主体背景透明 */
    padding: 0 40px; /* 调整组件位置 */
}

/* 底部字体颜色设置 */
.footer-inner {
    color: #555555;
}

/* 图片和table-container不透明设置 */
img {
    opacity: 1; /* 设置图片不透明 */
}

.table-container {
    opacity: 1; /* 设置 table-container 不透明 */
}

